*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color:black;
}
.container {
    width: 400px;
    margin:200px 200px 250px 450px ;
    padding:20px 20px 20px 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #22162b;
    


}
h2{
    text-align: center;
}
#input[type="text"],input[type="password"]{
    width: 50%;
    padding: 5px 10px 10px 5px;
    margin-bottom: 10px;
    margin: 0;
  border:1px solid #2b2626;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    

}
#input[type="submit"]{
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}